<header>
    <!-- Navigation Bar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-darkgrey">
        <div class="container">

            <div class="brand-container">
                <a href="/">
                    <img class="brand-icon" type="image/vnd.microsoft.icon" src="/images/clipvortex-icon.ico">
                </a>  
                <a class="navbar-brand" href="/">ClipVortex</a>    
            </div>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item"><a class="nav-link" id="nav-link-profile" href="/post">Post a Clip</a></li>
                    <li class="nav-item"><a class="nav-link" id="nav-link-profile" href="/profile">My Profile</a></li>
                    <li class="nav-item"><a class="nav-link" href="/categories">Categories</a></li>
                    <li class="nav-item"><a class="nav-link" id="nav-link-logout" href="/logout">Log-out</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>