<header>
    <!-- Navigation Bar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-darkgrey">
        <div class="container">

            <div class="brand-container">
                <a href="/">
                    <img class="brand-icon" type="image/vnd.microsoft.icon" src="/images/clipvortex-icon.ico">
                </a>  
                <a class="navbar-brand" href="/">ClipVortex</a>    
            </div>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            
            <div class="collapse navbar-collapse" id="navbarSupportedContent">

                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item"><a class="nav-link" href="/categories">Categories</a></li>
                    <li class="nav-item"><a class="nav-link" id="nav-link-login">Log-in</a></li>
                    
                    <div id="login-popup" class="popup">
                        <div class="login-popup-content">
                            <span class="close-button-login close-button">&times;</span>
                            <div class="fw-light fst-italic" id="login-message"> <%- include('login/loginMessage') %> </div>
                            <form id="login-form" action="/login" method="post">
                                <%- include('login/_form_fields') %>
                                <button type="submit">Submit</button>
                            </form>
                        </div>
                    </div>
                    <li class="nav-item"><a class="nav-link" id="nav-link-register">Register</a></li>
                    <div id="register-popup" class="popup">
                        <div class="register-popup-content">
                            <span class="close-button-register close-button">&times;</span>
                            <div class="fw-light fst-italic" id="register-message"> <%- include('register/registerMessage') %> </div>
                            <form id="register-form" action="/register" method="POST">
                                <%- include('register/_form_fields') %>
                                <button type="submit">Submit</button>
                            </form>
                        </div>
                    </div>
                </ul>
            </div>
        </div>
    </nav>
    
</header>