<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    <meta name="description" content="A website designed to capture every winning moment" />
    <meta name="author" content="Nathaniel F. Villanueva" />
    <title>ClipVortex</title>

    <!-- Website Icon -->
    <link rel="icon" type="image/vnd.microsoft.icon" href="images/clipvortex-icon.ico" />
        
    
    <!-- CSS Template Link -->
    <link href="css/template.css" rel="stylesheet" type="text/css" />
    <link href="css/main.css" rel="stylesheet" type="text/css"/> 
    <link href="css/categories.css" rel="stylesheet" type="text/css"/> 
    <link href="css/profile.css" rel="stylesheet" type="text/css"/>  

</head>
<body>
    <header id="body-header">
        <% if (headerLayout === 'header') { %>
            <%- include('../partials/header.ejs') %>
        <% } else if (headerLayout === 'profile_header') { %>
                <%- include('../profile/profile_header.ejs') %>
        <% } %>
    </header>
    
    <div id="body-div" class="center-elements">
        <%- body %>
    </div>

    <!-- Bootstrap core JS-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
    <!-- jQuery libary-->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- Core theme JS-->
    <% if (headerLayout === 'header') { %>
        <script src="js/scripts.js"></script>
    <% } else if (headerLayout === 'profile_header') { %>
        <script src="js/profile.js"></script>
    <% } %>
    
</body>
</html>