<label for="register-username">Username:</label>
<input type="text" name="name" id="name" required>
<label for="register-password">Password:</label>
<input type="password" name="password" id="password" required>
<label for="confirmation-password">Re-enter Password:</label>
<input type="password" name="confirmation_password" id="confirmation-password" required>